@using WebApplMVC5
@{
    ViewBag.Title = "Test";
}

<h2>Image Custom Helper</h2>
</br>
</br>
@Html.Image("/Images/EYlogo.png", "Ey logo image", "EY Logo")
@Html.Image("/Images/image.png", "alternate ey text", "Ey image", 200, 200)

