
@{
    ViewBag.Title = "StringHelperCheck";
}

<h2>StringHelperCheck</h2>
<br />
<h3> string to upper = @ViewBag.strings[0]</h3>
<br />

<h3> stirng to lower = @ViewBag.strings[1]</h3>
<br />
<h3> If string is null = @ViewBag.strings[2]</h3>


